@using Blazor.Heroicons.Solid
@inherits LayoutComponentBase

<div>
    <NavMenu />

    <main class="sm:ml-64">
        <div class="sticky top-0 z-50 bg-gray-100 py-4 pr-6 border-b border-y-gray-200 flex">
            <button type="button" class="inline-flex items-center p-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open sidebar</span>
                <Bars3Icon class="h-6 w-6" />
            </button>
            <a href="http://blazor.net" target="_blank" class="ml-auto my-auto justify-self-end">About</a>
        </div>
        <article class="p-4 pl-8">
            <ErrorBoundary>
                @Body
            </ErrorBoundary>
        </article>
    </main>
</div>

<div id="blazor-error-ui" class="hidden fixed bottom-0 left-0 bg-yellow-50 p-3 z-50 w-full shadow-top">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="right-0 top-0 p-3 absolute text-slate-800">🗙</a>
</div>
