@inherits LayoutComponentBase

<div>
    <NavMenu />

    <main class="sm:ml-64">
        <div class="sticky top-0 z-50 bg-gray-100 py-4 pr-6 border-b border-y-gray-200 flex max-sm:hidden">
            <a href="http://blazor.net" target="_blank" class="ml-auto my-auto justify-self-end">About</a>
        </div>
        <article class="p-4 pl-8 max-sm:pt-20">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" class="hidden fixed bottom-0 left-0 bg-yellow-50 p-3 z-50 w-full shadow-top">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="right-0 top-0 p-3 absolute text-slate-800">🗙</a>
</div>