@using Blazor.Heroicons.Solid

<nav class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full overflow-y-auto bg-indigo-950 bg-gradient-to-t from-purple-900">
        <div class="p-3 pl-6 sm:mb-0 bg-black/[.4]">
            <a class="text-2xl hover:no-underline text-white" href="">BlazorTailwind</a>
        </div>
        <ul class="font-medium px-3 py-4">
            <li class="text-lg hover:bg-white/[.1] rounded ml-2">
                <NavLink class="p-2 mb-2 list-item text-white hover:no-underline" ActiveClass="bg-white/[.25] rounded" href="" Match="NavLinkMatch.All">
                    <HomeIcon class="h-6 w-6 inline" /> Home
                </NavLink>
            </li>
            <li class="text-lg hover:bg-white/[.1] rounded ml-2">
                <NavLink class="p-2 mb-2 list-item text-white hover:no-underline" ActiveClass="bg-white/[.25]" href="counter">
                    <PlusIcon class="h-6 w-6 inline" /> Counter
                </NavLink>
            </li>

            <li class="text-lg hover:bg-white/[.1] rounded ml-2">
                <NavLink class="p-2 mb-2 list-item text-white hover:no-underline" ActiveClass="bg-white/[.25]" href="weather">
                    <ListBulletIcon class="h-6 w-6 inline" /> Weather
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

